body
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    max-width: 100vw;
}
main
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    max-width: 100vw;
}
.table
{
    display: table;
    border: 1px solid black;
}
.capaVacia
{
    display:table-row;
}
.celda
{
    display: table-cell;
    border: 1px solid black;
}
.Barato
{
    display: table-cell;
    background-color: green;
}