body
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    max-width: 100vw;
}
.table
{
    display: table;
    border: 1px solid black;
}

.celda
{
    display: table-cell;
    border: 1px solid black;
}
.fila
{
    display: row;
}